/* maximo de 500px | 0 - 550*/
@media screen and (max-width: 550px) {
    .navOps {
        justify-content: space-around;
    }

    main {
        padding: .25em;

    }

    .navOps-item {
        font-size: 9pt;
    }

    #textTitle {
        margin: 0;
    }

    .textIntro {
        flex-wrap: wrap;
    }

    .icon-circle {
        width: 3em;
        height: 3em;
    }

    .imgL {
        width: 250px;
    }

    .icon-circle img {
        height: auto;
        width: 25px;
    }

    select {
        font-size: 11pt;
    }
}

/* maximo de 980px | 550 - 980*/
@media screen and (min-width: 550px) {
    .navOps {
        justify-content: space-around;
    }

    main {
        padding: 2em;
    }

    #textTitle {
        margin: 1em;
    }

    .textIntro {
        flex-wrap: wrap;
    }

    .imgL {
        width: 400px;
    }

    #sesConvert {
        align-items: start;
    }

    .sesConvert-opts {
        gap: 10em;
    }

    .icon-circle {
        height: 4em;
        width: 4em;
    }

    .icon-circle img {
        height: auto;
        width: 35px;
    }

    select {
        font-size: 12pt;
    }
}



/* minino de 980px | 980 - inf. */
@media screen and (min-width: 980px) {
    .navOps {
        width: 100%;
        justify-content: flex-end;
        column-gap: 2em;
        font-size: 13pt;
    }

    main {
        padding: 5em;
    }

    .textIntro {
        flex-wrap: nowrap;
    }

    #textTitle {
        margin: 1em 20vw;
    }

    #sesConvert {
        align-items: start;
        font-size: 15pt;
    }

    .sesConvert-opts>div {
        margin-right: 5em;
    }

    .icon-circle {
        width: 5em;
        height: 5em;
    }

    .icon-circle img {
        width: 50px;
    }

    select {
        font-size: 13pt;
    }
}