/* maximo de 400px | 0 - 400*/
@media screen and (max-width: 400px) {

    h1,
    h2 {
        font-size: 13pt !important;
    }

    p,
    select,
    li {
        font-size: 10pt !important;
    }

    nav,
    footer {
        max-width: 100% !important;
    }

    #sesConvert {
        padding-left: 10px;
        justify-content: space-between !important;
    }

    .divConvert-opts,  .divConvert-unid {
        display: grid !important;
        gap: .5rem !important;
    }

    .divConvert-opts>div {
        gap: .5em !important;
    }

    input,
    select {
        padding: 2px 4px !important;
        font-size: 9pt !important;
    }

    .divConvert-resp {
        padding: .2rem !important;
        gap: .15rem !important;
    }

    .divConvert-unid {
        justify-content: start !important;
    }

    .imgL,
    .convImg>img {
        width: 200px;
    }

    footer>div {
        display: grid !important;
        gap: .5em;
    }

    .navOps {
        justify-content: center;
        gap: 5px;
    }

    .navOps>a:first-child,
    .navOps>a:last-child {
        display: none;
    }

    main {
        padding: 2em .25em !important;
        width: 90vw !important;
    }

    .icon-circle svg {
        height: auto;
        width: 20px;
    }

    .sesInfo-list {
        display: grid !important;
        row-gap: 1em !important;
    }
}

/* maximo de 500px | 400px - 550*/
@media screen and (min-width:400px) and (max-width: 550px) {
    main {
        padding: 2em 1em !important;
        width: 90vw !important;
    }

    .navOps {
        justify-content: space-around;
    }

    .navOps-item {
        font-size: 9pt;
    }

    .navOps>a:first-child {
        display: none;
    }

    #textTitle {
        margin: 0;
    }

    .textIntro {
        flex-wrap: wrap;
    }

    .icon-circle {
        width: 3em;
        height: 3em;
    }

    .imgL {
        width: 250px;
    }

    .icon-circle svg {
        height: auto;
        width: 25px;
    }

    .divConvert-unid,
    .divConvert-opts {
        gap: .5em 1em !important;
    }

    .sesInfo-list {
        font-size: 13pt;
        gap: 1em !important;
    }

    .sesInfo-list>div {
        margin: 1em;
    }

    .convImg>img {
        width: 350px;
    }

}

/* maximo de 980px | 550 - 980*/
@media screen and (min-width: 550px) and (max-width: 980px) {
    main {
        padding: 2em;
    }

    .navOps {
        justify-content: space-around;
    }

    #textTitle {
        margin: 1em;
    }

    .textIntro {
        flex-wrap: nowrap;
    }

    .imgL {
        width: 400px;
    }

    #divConvert {
        align-items: start;
    }

    .divConvert-opts {
        gap: 10em;
    }

    .sesInfo-list {
        font-size: 13pt;
        gap: 2em !important;
    }

    .icon-circle {
        height: 4em;
        width: 4em;
    }

    .icon-circle svg {
        height: auto;
        width: 35px;
    }

    .convImg>img {
        width: 450px;
        padding: 1em;
    }
}

/* minino de 980px | 980 - inf. */
@media screen and (min-width: 980px) {
    p {
        font-size: 13pt;
        letter-spacing: .8pt;
    }

    .navOps {
        width: 100%;
        justify-content: flex-end;
        column-gap: 2em;
        font-size: 13pt;
    }

    main {
        padding: 5em;
    }

    .textIntro {
        flex-wrap: nowrap;
    }

    #divConvert {
        align-items: start;
        font-size: 14pt;
    }

    .divConvert-opts>div {
        margin-right: 5em;
    }

    .sesInfo-list {
        font-size: 16pt !important;
        gap: 4em !important;
    }

    .icon-circle {
        width: 5em;
        height: 5em;
    }

    .icon-circle svg {
        width: 50px;
    }

    .imgL {
        width: 500px;
    }

    .convImg>img {
        width: 450px;
        padding: 2em;
    }

    .sesInfo {
        gap: 2em !important;
        flex-wrap: nowrap !important;
    }
}